/* Gaya Umum */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    background-color: #f57c00; /* Latar belakang oranye */
    padding: 0px;
    text-align: center;
    color: #fff; /* Warna teks putih untuk kontras */
    min-height: 100vh; /* Memastikan halaman penuh */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Jarak antar logo */
}

.logo-company img {
    width: 250px; /* Sesuaikan ukuran logo */
    height: auto;
}

.logo-company h2 {
    margin: 10px 0;
    font-size: 24px;
    color: #fff; /* Warna teks nama perusahaan */
}

.logo-company p {
    margin: 0;
    font-size: 16px;
    color: #fff; /* Warna teks alamat */
}

.logo-community img {
    width: 150px; /* Sesuaikan ukuran logo komunitas */
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
